body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.header {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 16px; box-sizing: border-box;

}

.logo {font-weight: 600; font-size: 1.7em; text-transform: uppercase;
   display: flex; flex-direction: column; line-height: 0.7em;
}

.logo div:nth-child(1) {font-size: 1em;}
.logo div:nth-child(2) {font-weight: 400; font-size: 0.6em;
 letter-spacing: 0.5em;
}

.nav {
    display: flex;
    align-items: center;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.cell {
    width: 32px;
    height: 32px;
    border: 1px solid #3090dd;
    box-sizing: border-box;
    flex-shrink: 0;
}